.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
.youtobe-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  padding: 25px;
  max-width: 100%;
}
.youtobe-image {
  margin-bottom: 10px;
}
.youtobe-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}
.youtobe-content {
  display: flex;
}
.youtobe-content p {
  padding-left: 20px;
}
.youtobe-footer {
  margin-left: 70px;
}
.youtobe-time {
  padding-left: 10px;
}
.youtobe-maker {
  margin-bottom: 0rem;
}
.youtobe-info {
  text-transform: uppercase;
  font-weight: bold;
}
.abc .youtobe-footer {
  background-color: yellow;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
